@using Pokemon.Models
@model Root

<body>
    <header>
        <div class="pokemonpics">
            <span>
                <img src="@Model.Sprites.Other.Home.Front_default"/>
                <img src="@Model.Sprites.Other.Dream_world.Front_default"/>
                <img src="@Model.Sprites.Front_default"/>
            </span>
        </div>
    </header>
    <section>
        <div class="stats">
            <h6><b>Id</b></h6>
                <p>@Model.Id</p>
            <h6><b>Name</b></h6>
                <p>@Model.Name</p>
            <h6><b>Type</b></h6>
                @foreach (var type in Model.Types)
                {
                    <p> @type.Type.Name</p>
                }
            <h6><b>Height</b></h6>
                <p>@Model.Height</p>
            <h6><b>Weight</b></h6>
                <p>@Model.Weight</p>
            <h6><b>Abilities</b></h6>
                @foreach (var ability in Model.Abilities)
                {
                    <p>@ability.Ability.Name</p>
                }
        </div>
        <article>
            <div class="movelist">
                <h6><b>Possible Move Learned</b></h6>
                @foreach (var moves in Model.Moves)
                {
                    <span>/@moves.Move.Name</span>
                }
            </div>
</article>
    </section>
</body>