@using System.Linq
@using Pokemon.Models
@model Root

<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="callName">
    <header class="pokemon">
        <h1>@Model.Name.ToUpper()</h1>
    </header>
    <section>
        <ul class="pokemonPics">
           <li><img src="@Model.Sprites.Other.Dream_world.Front_default"lt /></li>
           <li><img src="@Model.Sprites.Other.Home.Front_default" /></li>
        </ul>
        <article>
            <div class="stats">
                <h6><b>Id</b></h6>
                    <p>@Model.Id</p>
                <h6><b>Type</b></h6>
                    @foreach (var type in Model.Types)
                    {
                        <p> @type.Type.Name</p>
                    }
                <h6><b>Height</b></h6>
                    <p>@Model.Height</p>
                <h6><b>Weight</b></h6>
                    <p>@Model.Weight</p>
                <h6><b>Abilities</b></h6>
                    @foreach (var ability in Model.Abilities)
                    {
                        <p>@ability.Ability.Name</p>
                    }
            </div>
                <div class="movelist">
                    <h6><b>Possible Moves To Learned</b></h6>
                    @foreach (var moves in Model.Moves)
                    {
                        <span>/@moves.Move.Name.</span>
                    }
                </div>
        </article>
    </section>
</body>
</html>