@using Pokemon.Models
@model Root

<body>
    <header>
        <div class="pokemon">
            <img src="@Model.Sprites.Front_default" />
            <ul style="list-style:none" class="card">
                <li><b>Id:</b> @Model.Id</li>
                <li><b>Name:</b> @Model.Name</li>
                @foreach (var type in Model.Types)
                {
                    <li><b>Types:</b> @type.Type.Name</li>
                }
                <li><b>Height:</b> @Model.Height</li>
                <li><b>Weight:</b> @Model.Weight</li>
                <li><b>Order:</b> @Model.Order</li>
                @foreach (var stat in Model.Stats)
                {
                    <li><b>Base Stats:</b> @stat.Base_stat</li>
                    <li>Stat: @stat.Stat.Name</li>
                }
                @foreach (var ability in Model.Abilities)
                {
                    <li><b>Ability:</b> @ability.Ability.Name</li>
                }
                @foreach (var items in Model.Held_items)
                {
                    <li><b>Item:</b> @items.Item.Name</li>
                }
                @foreach (var moves in Model.Moves)
                {
                    <li><b>Possible Move Learned:</b> @moves.Move.Name</li>
                }
            </ul>
        </div>
    </header>
</body>